body {
}
.left-right {
    overflow: auto;
    overflow-x: hidden;
    height: 60vh;
    position: relative;
    /*background-color: #333;*/
    clear: left;

}
.hidescroll::-webkit-scrollbar {
    display: none;
}
div.l1, div.l2, div.l3 {
    width: 100%;
    text-align:center;
    font-size:90%; 
    position: absolute;
    top: 0;
    
}
.inputMargin input{
    margin-top:15px;
}
a.l1, a.l2, a.l3 {
    cursor:pointer;
}

a:hover {
    opacity: 1
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-size: 12px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Non-Essential  */
.property-card {
    height: 18em;
    width: 14em;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 10px #e1e1e3, -1px -1px 10px #ffffff;
    box-shadow: 0px 0px 10px #bebebe;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */
.property-image {
    height: 6em;
    width: 14em;
    padding: 1em 2em;
    position: Absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url('Images/Cards/CardPic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Bottom Card Section */
.property-description {
    background-color: #FAFAFC;
    height: 12em;
    width: 14em;
    position: absolute;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
}

/* Social Icons */
.property-bottom {
    width: 12em;
    height: 2em;
    text-align: center;
    border-radius: 30px;
    background-color: #d9534f;
    position: absolute;
    bottom: 1em;
    left: 1em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.property-bottom p {
    color: white;
    font-size: 19px;
}